.Contact {
	width: 100vw;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.contact-bg {
	clip-path: polygon(69% 0, 100% 0, 100% 100%, 69% 100%);
	background-color: #ffd6a5;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
}

.contact-Wrapper {
	padding: 50px;
	display: flex;
	z-index: 1;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.c-Left {
	// flex: 1;
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
}
.c-Right {
	// flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
}

.c-title {
	font-size: 60px;
	width: 80%;
	font-weight: 500;
}
.c-title.smScreen {
	display: none;
}
.c-info-item {
	display: flex;
	align-items: center;
	margin: 50px 0;
	font-weight: 300;
	width: 70%;
}
.c-icon {
	width: 30px;
	height: 30px;
	margin-right: 20px;
}

.c-desc {
	font-weight: 200;
}
.c-desc.SmScreen {
	display: none;
}

form {
	margin-top: 20px;
}

input {
	width: 50%;
	height: 50px;
	border: none;
	border-bottom: 1px solid black;
	margin: 10px 0px;
	font-size: 14px;
	padding-left: 10px;
}

textarea {
	width: 100%;
	margin: 10px 0px;
	font-size: 14px;
	padding-left: 10px;
	border-bottom: 1px solid black;
}

button {
	border: none;
	padding: 15px;
	background-color: #59b256;
	color: white;
	font-weight: 500;
	cursor: pointer;
}

@media screen and (max-width: 480px) {
	.Contact {
	}
	.contact-Wrapper {
		flex-direction: column;
		padding: 10px 50px;
		height: 100%;
	}
	.c-Left {
		height: 40%;
		width: 100%;
		overflow: hidden;
	}
	.c-title {
		font-size: 42px;
		width: 100%;
		font-weight: 400;
		text-align: center;
	}
	.c-title.LgScreen {
		display: none;
	}
	.c-title.smScreen {
		display: block;
	}
	.c-info {
		margin: 15px 0;
	}
	.c-info-item {
		display: flex;
		align-items: center;
		margin: 10px 0;
		font-weight: 400;
		width: 100%;
		font-size: 14px;
	}
	.Q-title {
		display: block;
		text-align: center;
	}

	.c-desc.LgScreen {
		display: none;
	}
	.c-desc.SmScreen {
		display: block;
		text-align: center;
		font-size: 14px;
	}
	.c-Right {
		height: 60%;
		width: 100%;
		// overflow: auto;
	}

	form {
		display: flex;
		// flex-direction: column;
		width: 100%;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		height: 80%;
		overflow: auto;
		margin-top: 15px;
	}
	input {
		width: 80%;
		height: 20px;
	}
	textarea {
		width: 80%;
		margin: 10px 0px;
		font-size: 14px;
		padding-left: 10px;
	}
	button {
		border: none;
		padding: 8px;
		background-color: #59b256;
		color: white;
		font-weight: 500;
		cursor: pointer;
		margin: 0 auto;
		display: block;
		border-radius: 10%;
	}
}
