.navbar {
	width: 100vw;
	height: 3.75rem;
	background-color: rgb(221, 219, 215);

	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	overflow: hidden;
	.navbar-wrapper {
		width: 95%;
		padding: 0 0.625rem;
		display: flex;
		align-items: center;
		justify-content: center;
		.navbar-left {
			flex: 1;
			display: flex;
			justify-content: flex-start;
			align-items: center;

			.nav-logo {
				display: flex;
				width: 100%;
				align-items: center;
				justify-content: flex-start;
				a {
					// font-size: 24px;
					margin-right: 1.25rem;
					display: flex;
					align-items: center;
					text-decoration: none;
					color: black;
					font-size: 1.25em;
					transition: all 0.5s ease;
					&:hover {
						// transform: scale(1.2, 1.2);
					}
				}
			}
		}
		.navbar-center {
			flex: 3;
			display: flex;
			justify-content: center;
			align-items: center;
			.navbar-ul {
				padding: 0;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				list-style-type: none;

				.navbar-li {
					text-decoration: none;
					cursor: pointer;
					transition: all 0.5s ease;
					&:hover {
						transform: scale(1.2, 1.2);
					}

					.navbar-li-a {
						text-decoration: none;
						color: black;
					}
				}
			}
		}
		.navbar-right {
			flex: 1;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}
}
