.Intro {
	margin: 0px;
	padding: 0px;
	display: flex;
	height: 100vh;
	position: relative;
}

.intro-bground {
	clip-path: polygon(72% 0, 100% 0, 100% 100%, 33% 100%);

	background-color: #9bf6ff;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
}
.intro-left {
	flex: 1;
	display: flex;
	// flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.intro-Left-Wrapper {
	padding: 50px;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.i-intro {
	font-weight: 300;
	font-size: 30px;
}
.i-name {
	font-weight: 500;
	font-size: 60px;
}

.i-title {
	height: 50px;
	overflow: hidden;
}
.i-title-Wrapper {
	/* This Wrapper has just been used for adding Animation effect*/

	height: 100%;
	animation: move 10s ease-in-out infinite alternate;

	@keyframes move {
		25% {
			transform: translateY(-50px);
		}
		50% {
			transform: translateY(-100px);
		}
		75% {
			transform: translateY(-150px);
		}
		100% {
			transform: translateY(-200px);
		}
	}
	/* Since we have 4 elements in 'i-title-Item' which'll be animated, Leaving the 1st one intact, we are bifurcating the rest in 4 parts in terms of percentage*/
}
.i-title-Item {
	height: 50px;
	font-size: 30px;
	font-weight: 500;
	color: rgb(49, 49, 145);
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.intro-desc {
	text-align: center;
}
.i-scroll {
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 20px;
	cursor: pointer;
}

.intro-right {
	flex: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.intro-img {
	width: 80%;
	height: 100%;
	object-fit: contain;
	position: absolute;
	z-index: 1;
}

@media screen and (max-width: 480px) {
	.Intro {
		flex-direction: column-reverse;
	}

	.intro-Left-Wrapper {
		padding: 10px;
		align-items: center;
		text-align: center;
		height: 100%;
		justify-content: space-evenly;
	}

	.intro-desc {
		display: none;
	}
	.i-title-Item {
	}
}
