.toggle {
	width: 3.125rem;
	height: 1.563rem;
	border-radius: 1.25rem;
	border: 1px solid rgb(97, 92, 92);
	background-color: black;
	// position: fixed;
	// top: 10px;
	// right: 10px;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

.toggle-icon {
	width: 0.938rem;
	height: 0.938rem;
}

.toggle-button {
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	background-color: rgb(61, 58, 58);
	position: absolute;
	cursor: pointer;
	border: 2px;
	border: 2px solid rgb(150, 134, 134);
}
