.App {
	width: 100vw;
	height: 100vh;
	// position: relative;

	.Sections {
		width: 100vw;
		position: relative;
		height: calc(100vh - 3.75rem);
		height: calc(100vh - 60px);
		top: 3.75rem;
		top: 60px;
		scroll-behavior: smooth;
		scroll-snap-type: y mandatory;
		scrollbar-width: none; //for firefox
		&::-webkit-scrollbar {
			display: none;
		}
		> * {
			width: 100vw;
			height: calc(100vh - 3.75rem);

			scroll-snap-align: start;
		}
	}
}
