.images {
	width: 90px;
	height: 70px;
	object-fit: scale-down;
	padding: 0 15px;
	border-radius: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.boxDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	// 	// padding-right: 100px;
}

.boxDivText {
	font-size: 24px;
	padding-left: 200px;
	padding-right: 40px;
}
.boxSpan {
	display: flex;
	justify-content: center;
	align-items: center;
}

.boxText {
	// display: inline;
}

.unit {
	padding-right: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 480px) {
	.images {
		height: 50px;
	}

	.unit {
		padding-right: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
