.images {
	width: 90px;
	height: 60px;
	object-fit: cover;
	padding: 0 15px;
	border-radius: 10px;
	// text-align: center;
}

.box {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	// 	// padding-right: 100px;
}

.boxText {
	// display: inline;
}

.unit {
	padding-right: 100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
